[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
[submodule "report/customsql"]
	path = report/customsql
	url = https://github.com/moodleou/moodle-report_customsql
[submodule "mod/customcert"]
	path = mod/customcert
	url = https://github.com/mdjnelson/moodle-mod_customcert
[submodule "lib/editor/atto/plugins/styles"]
	path = lib/editor/atto/plugins/styles
	url = https://github.com/moodleuulm/moodle-atto_styles
[submodule "lib/editor/atto/wordimport"]
	path = lib/editor/atto/wordimport
	url = https://github.com/ecampbell/moodle-atto_wordimport
[submodule "mod/facetoface"]
	path = mod/facetoface
	url = https://github.com/catalyst/moodle-mod_facetoface/
[submodule "local/staticpage"]
	path = local/staticpage
	url = https://github.com/moodleuulm/moodle-local_staticpage.git
[submodule "local/contact"]
	path = local/contact
	url = https://github.com/michael-milette/moodle-local_contact.git
[submodule "theme/clboost"]
	path = theme/clboost
	url = https://github.com/call-learning/moodle-theme_clboost.git
[submodule "theme/envf"]
	path = theme/envf
	url = https://github.com/call-learning/moodle-theme_envf.git
[submodule "blocks/mcms"]
	path = blocks/mcms
	url = https://github.com/call-learning/moodle-block_mcms.git
[submodule "local/mcms"]
	path = local/mcms
	url = https://github.com/call-learning/moodle-local_mcms.git
[submodule "blocks/sponsors"]
	path = blocks/sponsors
	url = https://github.com/call-learning/moodle-block_sponsors.git
[submodule "blocks/faq"]
	path = blocks/faq
	url = https://github.com/call-learning/moodle-block_faq.git
